@media (min-width: 768px) {
  .cursor {
    position: fixed;
    width: 36px;
    height: 36px;
    margin-left: -18px;
    margin-top: -18px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
  }

  .cursor-scale {
    display: inline-block;
  }

  .grow {
    transform: scale(2);
    background: var(--main-color);
    border: none;
  }

  .grow-small {
    transform: scale(1.2);
    background: #fff;
    border: none;
  }
}
